html {
  margin-left: 20px;
}

#preview  img{
	border: 3px solid black;
	border-radius: 5px;
  box-shadow: 5px 20px 30px black;
}

input, label {
  float: left;
  width: 40%;
}

input {
  margin: 0 0 1em .2em;
  padding: .2em .5em;  
  background-color: #FFF5D7;
  border: 1px solid #FFF5D7;
  border-radius: 5px;  
}

label { 
  text-align: left;
  line-height: 1.5;
}

label::after {
  content: ": ";
}

.js-hide-label label {
  opacity: 0; 
  top: 1.5em;
}

label {
  -webkit-transition: .333s ease top, .333s ease opacity;
  transition: .333s ease top, .333s ease opacity;
}

.js-unhighlight-label label {
  color: #999;
}

.js-validation-input {
  text-align: left;
  border: 1px solid red;
}

.js-validation-input::-webkit-input-placeholder { 
    color: red;
}