body {
  background: url("../../bin/img/background.jpg") repeat;
}

.cover {
  width: 100%;
  height: auto !important;
  min-height: 100%;
  position: absolute;
top: 0;

}

.container {
  height: auto !important;
  min-height: 100%;
  overflow: hidden;
  position: absolute;

    width: 100%;
  text-align: center;
  color: #FFF;
  text-shadow: 2px 1px 0px rgba(0, 0, 0, 0.5);

}

dy{
  height:100%;
  font-family: 'Open Sans', sans-serif;
}

.wrapper {
    display: none;
    position: relative;
}

.no-js .wrapper {
  display: block;
}

.container-wrapper {
  height: 100%;
  background-color: #444;
}

.nosch h1 {
  text-shadow: none !important;  
  filter: progid:DXImageTransform.Microsoft.DropShadow(Enabled='false') !important;
}


/* -- logo
--------------------------------------------------------- */
#logo {
  background-color: #444;
  padding: .5em 1em;
  text-align: center;
}
#logo svg {
  display: block;
  margin: 0 auto;
  width: 120px;
  height: 61px;
  fill: #fff;
  text-shadow: 0 0 10px #000;
  filter: progid:DXImageTransform.Microsoft.DropShadow(color=#000000,OffX=2, OffY=2);
}

/* -- navigation
--------------------------------------------------------- */
nav #mobile-nav {
  display: block;
  margin: -3.5em 1em 2.25em;
  padding: 0;
  width: 33px;
  height: 17px;
  cursor: pointer;
}
nav #mobile-nav span {
  display: none;
  visibility: hidden;
}
nav #mobile-nav svg {
  display; block;
  width: 33px;
  height: 17px;
  fill: #fff;
}
nav #mobile-nav svg rect {
  fill: #eee;
}
nav #mobile-nav:hover svg rect {
  fill: #fff;
}
nav ul.open {
  display: block;
  visibility: visible;
}
nav ul {
  display: none;
  visibility: hidden;
  padding: 0;
  margin: 0;
  list-style-type: 0;
}
nav ul li a {
  display: block;
  padding: 1em;
  font-size: .75em;
  border-bottom: 1px solid #eee;
  background-color: #fff;
  text-decoration: none;
}

nav ul li a:hover, nav ul li.selected a {
  text-decoration: underline;
}




/* -- content
--------------------------------------------------------- */
.wrapper img {
  max-width: 100%;
}
.wrapper .content {
  padding: 1em;
  color: #fff;
  font-weight: 700;
  background-color: #444;
}



/* -- font-styles
--------------------------------------------------------- */
h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1.25em;
}
h3 {
  font-size: 1em;
}
h4 {
  
}
p {
  font-size: .875em;
  font-weight: 400;
}



/* -- vor / zurück buttons
--------------------------------------------------------- */
a.nav-prev,
a.nav-next {
  position: absolute;
  z-index: 999;
  display: block;
  width: 24px;
  height: 44px;
  top: 50%;
  margin-top: -20px;
  color: #fff;
  opacity: .8;
  transition: all 0.35s ease;
  -webkit-transition: all .35s ease;
  -moz-transition: all .35s ease;
  -o-transition: all .35s ease;
}
a.nav-prev:hover,
a.nav-next:hover {
  opacity: 1;
}
a.nav-prev img,
a.nav-next img {
  width: 100%;
  height: auto;
  text-shadow: 0 0 10px #000;
  filter: progid:DXImageTransform.Microsoft.DropShadow(color=#000000,OffX=2, OffY=2);
}
a.nav-prev {
  left: 1em;
}
a.nav-next {
  right: 1em;
}


/* -- info-buttons rechts
--------------------------------------------------------- */
.info-wrapper {
  width: 100%;
  display: none;
  visibility: hidden;
}
.info-wrapper.open {
  display: block;
  visibility: visible;
}

a.info {
  display: block;
  padding: 1em;
  font-size: .75em;
  background-color: #b3002f;
  border-bottom: 1px solid #7b112d;
  color: #fff;
}


/* -- Formular
--------------------------------------------------------- */
form ol {
  list-style-type: none;
}

form ol li {
  padding-bottom: 10px !important;
}

label strong {
  color: white;
}

.csc-form-element-submit input {
  color: black !important;
}


@media (max-width: 767px) {

  #logo svg {
    fill: #fff !important;
  }
  
  h1 {
    color: white !important;
  }
  
  .wrapper {
    background-image: none !important; 
  }

}

/* -- Breakpoint 1
--------------------------------------------------------- */
@media (min-width: 768px) {

  html, body {
    font-size: 18px;
  }
  
  /* -- logo
  --------------------------------------------------------- */
  #logo {
    position: absolute;
    top: 2em;
    left: 15%;
    z-index: 9999;
    background-color: transparent;
    opacity: .95;
  }
  #logo svg {
    width: 300px;
    height: 176px;
  }
  
  /* -- navigation
  --------------------------------------------------------- */
  nav {
    position: absolute;
    top: 10%;
    left: 0;
    background-color: rgba(0,0,0,0);
    padding: 1em 0.5em 1em;
    z-index: 19999;
  }
  nav #mobile-nav {
    display: block;
    margin: 0;
    padding: 0;
    width: 90px;
    height: 17px;
    cursor: default;
  }
  nav #mobile-nav span {
    display: inline;
    visibility: visible;
    color: #eee;
    font-weight: 700;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.8);
  }
  nav #mobile-nav:hover span {
    color: #fff; 
  }
  nav #mobile-nav svg {
    display; block;
    width: 33px;
    height: 17px;
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=1, Color='#444')";
    -webkit-filter: drop-shadow(0px 1px 1px rgba(0,0,0,0.8));
    filter: drop-shadow(0px 1px 1px rgba(0,0,0,0.8));
  }
  nav #mobile-nav svg rect {
    fill: #eee;
  }
  nav #mobile-nav:hover svg rect {
    fill: #fff;
  }
  nav ul {
    list-style-type: none;
    padding: 0;
    max-height: 0;
    display: block;
    visibility: visible;
    overflo    overflo    overflo    overflo    overflo    overflo    overflo    overflo    overflo    overflo    overflo    overflo    overflo    overflo    overflo    overfl li {
    margin: 1em 0 0;
  }
  nav ul li a {
    color: #fff;
    font-weight: bold;
    display: inline;
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 1em;
  }
  nav ul li a:hover {
    text-decoration: underline;
    color: #fff;
  }
  nav:hover {
      background-color: rgba(0,0,0,0.5);
  }
  nav:hover > ul {
    max-height: 600px;
    margin-top: 1em;  
  }
  
  
  
  /* -- content
  --------------------------------------------------------- */
  .mobile {
    display: none;
    visibility: hidden;
  }
  .wrapper {
    height: 100%;
    background-size: cover;
    background-position: 50% 0%;
  }
  .wrapper .content {
    position: absolute;
    background-color: transparent;
    top:30%;
    height: 39%;
    left: 10%;
    width: 80%;
    display: table;
  }
  .wrapper .bg-white {
    background-color: rgba(255,255,255,0.8);
    color: #000;
    display: block;
    height: auto !important;
    min-height: 39%;
  }

  .wrapper h1 {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    width: 100%;
    margin: 0;
    padding: 0;
    color: #fff;
    font-weight: 700;
    text-shadow: 0 0 10px #444;
    filter: progid:DXImageTransform.Microsoft.DropShadow(color=#444444,OffX=2, OffY=2);
  }

  .wrapper .bg-white h1 {
    color: #000;
    font-size: 1.25em;
    text-shadow: none;
    text-align: left;
    display: block;
    height: auto;
    padding: 0.5em 0em 1em 0em;
    filter: progid:DXImageTransform.Microsoft.DropShadow(Enabled='false');
  }
  
  p {
    font-size: 1em;
  }
  
  /* -- vor / zurück buttons
  --------------------------------------------------------- */
  a.nav-prev,
  a.nav-next {
    width: 48px;
    height: 87px;
    margin-top: -44px;
  }
  
  /* -- info-buttons rechts
  --------------------------------------------------------- */
  .info-wrapper {
    display: block;
    visibility: visible;
    position: absolute;
    z-index: 999;
    right: 0;
    top: 10%;
    width: 7em;
  }
  a.info {
    display: block;
    padding: .75em;
    font-size: 1em;
    font-weight: 700;
    border-bottom: 0px solid;
    margin-bottom: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  /* -- Formular
  --------------------------------------------------------- */
  label strong {
    color: red;
  }

  
}


.nav-button img{
  width: 100%;
  height: auto;
  text-shadow: 0px 0px 10px #000;
}

.logo img {
  height: 150px;
  vertical-align: top;
  position: absolute;
}

.nav-button {
  z-index: 999;
  display: block;
  width: 35px;
  height: 44px;
  margin-top: 45%;
  color: #FFF;
  opacity: 0.8;
  transition: all 0.35s ease 0s;
}

a.nav-button:hover {
  opacity: 1;
}
.info-wrapper {
    display: block;
    visibility: visible;
    position: absolute;
    z-index: 999;
    right: 0px;
    top: 10%;
    width: 7em;

}
a.info {
  background-color: #B3002F;
  color: #FFF;
  display: block;
  padding: 0.75em;
  font-size: 1em;
  font-weight: 700;
  border-bottom: 0px solid;
  margin-bottom: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}




.carousel-control.left {
  background-image: none;

}

.carousel-control.right {
  background-image: none;
}


.carousel-inner > .item {
  height: 100%;
  width: 100%;
  position: absolute;
}

.carousel-control {
  width: 35%;
  opacity: 0.8;
}

.carousel-control:hover {
  color: #B3002F;
}

a:hover {
  color: black;
}


.carousel-inner {
    min-height: 100% !important;
    width: 100%;
    position: absolute;
    overflow: hidden;
  }

.carousel-inner > .item > img {
  display: inline;
  height: 100%;
}

nav #mobile-nav {
  display: block;
  margin: -3.5em 1em 2.25em;
  padding: 0;
  width: 33px;
  height: 17px;
  cursor: pointer;
}
nav #mobile-nav span {
  display: none;
  visibility: hidden;
}
nav #mobile-nav svg {
  display; block;
  width: 33px;
  height: 17px;
  fill: #fff;
}
nav #mobile-nav svg rect {
  fill: #eee;
}
nav #mobile-nav:hover svg rect {
  fill: #fff;
}
nav ul.open {
  display: block;
  visibility: visible;
}
nav ul {
  display: none;
  visibility: hidden;
  padding: 0;
  margin: 0;
  list-style-type: 0;
}
nav ul li a {
  display: block;
  padding: 1em;
  font-size: .75em;
  border-bottom: 1px solid #eee;
  background-color: #fff;
  text-decoration: none;
}

nav ul li a:hover, nav ul li.selected a {
  text-decoration: underline;
}



li.selected {
    background-color: #E6E6E6;
}

nav {
    position: absolute;
    left: 0px;
    background-color: transparent;

    z-index: 19999;
    width: 10%;
    height: 100%;
    min-width: 150px;
}
nav #mobile-nav {
  display: block;
  margin: 0;
  padding: 0;
  width: 20%;
  height: 17px;
  cursor: default;
}
nav #mobile-nav span {
  display: inline;
  visibility: visible;
  color: #eee;
  font-weight: 700;
  text-shadow: 0px 1px 1px rgba(0,0,0,0.8);
}
nav #mobile-nav:hover span {
  color: #fff;
}
nav #mobile-nav svg {
  display; block;
  width: 20%;
  height: 17px;
  filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=1, Color='#444')";
  -webkit-filter: drop-shadow(0px 1px 1px rgba(0,0,0,0.8));
  filter: drop-shadow(0px 1px 1px rgba(0,0,0,0.8));
}
nav #mobile-nav svg rect {
  fill: #eee;
}
nav #mobile-nav:hover svg rect {
  fill: #fff;
}
nav ul {
  list-style-type: none;
  padding: 0;
  max-height: 0;
  display: block;
  visibility: visible;
  overflow: hidden;
  transition: all 0.35s ease;
  -webkit-transition: all .35s ease;
  -moz-transition: all .35s ease;
  -o-transition: all .35s ease;
}

nav ul li a {
  color: #fff;
  font-weight: bold;
  display: inline;
  background-color: transparent;
  border: none;
  padding: 0;
  font-size: 1em;
}
nav ul li a {
  color: #fff;
}
nav {
    background-color: rgba(0,0,0,0.5);
}
nav > ul {
  min-height: 100%;
  padding-top: 2em;
}

.container {
  padding-right: 0;
padding-left: 0;
margin-right: 0;
margin-left: 0;
}

.btn-lg {
  padding: 20px;
  font-size: 18px;
  line-height: 1.33333;
  border-radius: 0px;
}

.btn-default {
  background-color: rgba(0,0,0,0);
  border-color: #CCC;
  border-bottom-style: solid;
  border-width: 1px;
}

.btn-default:hover > a {
color: #333;
}
